{
  "compilerOptions": {
    "target": "ES6",
    "singleQuote": true,
    "endOfLine": "lf",
    "trailingComma": "all",
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "moduleResolution": "node",
    "resolveJsonModule": true,
    "skipLibCheck": true,
    "forceConsistentCasingInFileNames": true
  },
  "include": ["src/**/*.ts"],
  "exclude": ["node_modules"]
}
